doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='robots', content='noindex')
    script(src='//static.codepen.io/assets/editor/live/console_runner-1df7d3399bdc1f40995a35209755dcfd8c7547da127f6469fd81e5fba982f6af.js')
    script(src='//static.codepen.io/assets/editor/live/css_reload-5619dc0905a68b2e6298901de54f73cefe4e079f65a75406858d92924b4938bf.js')
    link(rel='shortcut icon', type='image/x-icon', href='//static.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico')
    link(rel='mask-icon', type='', href='//static.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg', color='#111')
    link(rel='canonical', href='https://codepen.io/aanjulena/pen/ZLZjzV')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(type='text/javascript').
      var dt = new Date();
      var device_id="001";  //from QRcode
      var user_id="001";  //from login
      var ON="{ 'id': 'Light1', 'deviceId': "+device_id+",   'time': "+dt+",   'value': [ { 'type':'01', 'service':'01', 'user':"+user_id+" }   ] }";
      var OFF="{ 'id': 'Light1', 'deviceId': "+device_id+",  'time': "+dt+",   'value': [ { 'type':'01', 'service':'00', 'user':"+user_id+" }   ] }";
      function toggle(button){
      if(document.getElementById("light1").value=="0"){
      document.getElementById("light1").value="1";
      $.post("/send-mqtt",
      {
      message:ON,
      },
      function(data,status){
      // alert("Data: " + data + "\\nStatus: " + status);
      });
      }else if(document.getElementById("light1").value=="1"){
      document.getElementById("light1").value="0";
      var dt = new Date();
      $.post("/send-mqtt",
      {
      message:OFF,
      },
      function(data,status){
      // alert("Data: " + data + "\\nStatus: " + status);
      });
      }
      }
  body
    .jumbotron
      h1 IOT
      p.lead Toggle to turn on/off the light
    .container.example
      .row
        .col-sm-2
          h6 Light 1
        .col-sm-6
          form
            input#message(type='hidden', name='message', value='1')
            button#light1.btn.btn-lg.btn-toggle(type='button', data-toggle='button', aria-pressed='false', autocomplete='off', value='0', onclick='toggle(this);')
              .handle
    // /.container
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
